#root {
  margin: 0 auto;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


img {
  display: block;
  height: 100%;
}


/* NAVEGATION */

.navegation {
  display: flex;
  position: fixed;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100vw;
  padding: 0.4rem 1rem;
  background-color: rgba(42, 42, 42, 0.563);
  backdrop-filter: blur(10px);
  border-bottom:1px solid var(--btn-dark);
  z-index: 2;
}


.menuHamburguer {
  all: unset;
  border-radius: 50%;
  padding: 10px;
  height: 25px;
  filter: invert(0.8);
  cursor: pointer;
}


.menuHamburguer:hover {
  background-color: rgb(255, 255, 255);
}


.navList {
  display: none;
  list-style-type: none;
  margin-left: 0.4rem;
  width: 100%;
  gap: 1.2rem;
  font-weight: 500;
  padding: 0.6rem 0;
}

.navLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
}

.navList span {
  text-indent: 5px;
}

.navList img {
  height: 25px;
}




/* HiddenBar */

.hiddenBar {
  display: flex;
  justify-content: center;
  align-items: start;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.145);
  background-color: var(--fundo-2);
  z-index: 4;
  transform: translateX(-100vw);
}

.hiddenBar .navLink img {
  height: 25px;
}


.hiddenBar .navLink span {
  text-indent: 10px;
}

.closeMenu {
  all: unset;
  position: absolute;
  top: 5px;
  left: 10px;
  border-radius: 50%;
  padding: 10px;
  height: 20px;
  filter: invert(0.8);
  cursor: pointer;
}

.closeMenu:hover {
  background-color: rgb(255, 255, 255);
}

.hiddenBarNav {
  width: 95%;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
  text-align: center;
  padding: 0.3rem;
}

.hiddenBarNav li {
  border-radius: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem;
  width: 100%;
  background-color: rgb(52, 52, 52);
  cursor: pointer;
}

.hiddenBarNav li:hover {
  user-select: none;
  background-color: rgb(62, 62, 62);
}


/* VIEW */


.sobreMim > div, .tecnologias > div, .projetos > div {
  padding: 3rem 1.6rem;
  width: 100%;
  max-width: 1100px;
}

.tecnologias > div {
  max-width: 1000px;

}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7rem 2rem 3rem 2rem;
  background-color: var(--fundo-1);
  width: 100%;
}

.header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.header h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 1.9rem;
  color: white;
}

.header h2 {
  margin-top: 15px;
  text-align: center;
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 500;
}


@keyframes avatarBrightness {
  from {
    box-shadow: 0px 0px 20px rgba(0, 83, 191, 0.0222);
  }

  to {
    box-shadow: 0px 0px 20px rgba(0, 83, 191, 0.0422);;

  }
}

.avatar {
  border-radius: 50%;
  animation: avatarBrightness 3s alternate infinite;
  width: 130px;
}


.redes {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 1.2rem;
  width: 100%;
}


.github, .linkedin {
  all: unset;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  padding: 10px;
  height: 28px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 0.5rem;
  transition: background 0.1s ease-in-out;
}

.github {
  background-color: var(--btn-blue);
}

.linkedin {
  outline: 1px solid #ffffff2f;
}

.github:hover {
  color: inherit;
  background-color: var(--btn-blue-hover);
}

.linkedin:hover {
  color: inherit;
  background-color: var(--btn-dark-hover);
}



/* SOBRE MIM  */

.sobreMim {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--fundo-2);
}

.sobreMim > div > h2 {
  font-size: 1.2rem;
}

.sobreDados p {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.0rem;
}


.dados {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.3rem;
  font-size: 0.85rem;
  list-style-type: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: 500;
  background-color: var(--fundo-1);
}

.curriculo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 1.2rem;
  color: white;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  outline: 1px solid var(--btn-dark);
  cursor: pointer;
  transition: background 0.1s ease-in-out;

}

.curriculo:hover {
  background-color: var(--btn-dark-hover);
  color: white;
  
}


@keyframes downloadIcon {
  0% {
    top: 0;
  }

  50% {
    top: 5px;
  }

  100% {
    top: 0px;
  }
  
}

.curriculo:hover > img {
  animation: downloadIcon 0.4s ;

}

.curriculo p {
  margin: 0;
  font-size: 1em;
  font-weight: 500;

}

.curriculo img {
  position: relative;
  height: 20px;
  filter: invert(1);
}


/* TECNOLOGIAS */

.tecnologias {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--fundo-1);
  user-select: none;
}



.tecnologias > div > h2 {
  font-size: 1.2rem;
}


.groupTechs {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.tecIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 42, 42);
  height: 90px;
  width: 115px;
  border-radius: 1rem;
  padding: 0.9rem;
  outline: 1px solid rgba(128, 128, 128, 0);
  transition: outline 0.5s ease-in-out;
}

.tecIcon p{
  font-size: 0.8rem;
  font-weight: 500;
}

.tecIcon:hover {
  outline: 1px solid rgba(128, 128, 128, 0.29);
}




/* PROJETOS */

.projetos {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--fundo-2);
}

.projetos h2 {
  font-size: 1.3rem;
}

.groupProjetos {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.projetoFront {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  width: 240px;
  height: 285px;
  border-radius: 1rem;
  outline: 1px solid var(--btn-dark);
  position: relative;
}

.projetoFront > img {
  height: 110px;
  border-radius: 0.5rem;
  outline: 1px solid var(--btn-dark);

}

.projetoTitulo {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: center;
}

.projetoDescricao p {
  font-size: 0.9rem;
  margin-top: 0.3rem;
}


.projetoBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 92%;
  left: 0.5rem;
  bottom: 10px;
  gap: 0.6rem;
  margin-top: 1.2rem;
  color: white;
  border-radius: 1em;
  padding: 0.4em 1.2em;
  background-color: var(--btn-blue);
  cursor: pointer;
  transition: background 0.1s ease-in-out;

}

.projetoBtn:hover {
  background-color: var(--btn-blue-hover);
  color: white;
  
}

.projetoBtn p {
  margin: 0;
  font-size: 1em;
  font-weight: 500;

}

.projetoBtn img {
  position: relative;
  height: 20px;
  filter: invert(1);
}
